$container-size: 1280px;
$primary: #303f9f;
$primary-dark: #001970;
$primary-light: #666ad1;

$secondary: #d81b60;
$secondary-dark: #a00037;
$secondary-light: #ff5c8d;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1280px;

$shadow-1: 0 2px 2px rgba(0, 0, 0, 0.25);

$input-border: 2px solid $secondary;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  padding: 4px;
  margin: 8px;
  box-sizing: content-box;
  border-bottom: $input-border;
  font-family: 'Roboto', sans-serif;
}

button {
  color: #FFF;
  background: $secondary;
  margin: 8px;
  padding: 8px 16px;
  border: none;
  box-shadow: $shadow-1;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;

  &.fab {
    border-radius: 32px;
    border: none;
    padding: 16px;
    background: $secondary;
    line-height: 1;

    .material-icons {
      display: block;
      margin: auto;
      width: 24px;
      height: 24px;
    }
  }
}

#landing, #app {
  display: none;
  &.active {
    display: block;
  }
}

.date-display {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    font-size: 20px;
    width: 1.4em;
    margin: 2px;
    text-align: center;
  }

  #deadline-year {
    width: 2.5em;
  }

  #deadline-hour {
    margin-left: 20px
  }
}

main {
  position: relative;
  width: 95%;
  max-width: $container-size;
  margin: auto;
}

nav {
  width: 100%;
  .content {
    max-width: $container-size;
    margin: auto;
    font-size: 1.5em;
  }
  color: #FFF;
  background: $primary;
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid #C3C3C3;
  box-shadow: $shadow-1;
}

ul#deadlines {
  margin: 0;
  padding: 10px 20px 10px 20px;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);

  @media (min-width: $screen-sm-min) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  }

  @media (min-width: $screen-md-min) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  }

  @media (min-width: $screen-lg-min) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  }

  grid-gap: 10px;
  justify-items: center;

  li {
    list-style: none;
    margin-bottom: 10px;

    button#remove-deadline {
      background: none;
      outline: none;
      padding: 5px;
      border: none;
    }
  }
}

#show-newdeadline {
  position: absolute;
  display: block;
  right: 16px;
  bottom: -72px;
}

#new-deadline {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;

  &.show {
    display: flex;
  }

  .card {
    max-width: 500px;
  }

  #deadline-task {
    font-size: 1.2em;
  }

  #deadline-date-display, #deadline-speech {
    display: block;
    margin: 8px;
    width: 100%;
    text-align: center;
  }

  #deadline-speech {
    font-size: 1.3em;
    margin-bottom: 8px;
  }

  #add-deadline {
    display: block;
    margin: 8px auto;
  }
}

.card {
  padding: 16px;
  border-radius: 4px;
  background: #EEE;
  box-shadow: $shadow-1;
}
