@import "basic.scss";

#landing {
  text-align: center;

  .instructions {
    padding: 10px;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }

    li {
      display: block;
      flex-grow: 1;
      font-size: 1.2em;
      .number {
        font-size: 2em;
        display: block;
      }
      .tip {
        font-size: 0.8em;
        color: #666;
      }
    }
  }
}

#landing, #app {
  display: none;
  &.active {
    display: block;
  }
}

.date-display {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    font-size: 26px;
    width: 1.4em;
    margin: 2px;
    text-align: center;
  }

  #deadline-year {
    width: 2.5em;
  }

  #deadline-hour {
    margin-left: 20px
  }
}

ul#deadlines {
  margin: 0;
  padding: 10px 20px 10px 20px;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);

  @media (min-width: $screen-sm-min) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  }

  @media (min-width: $screen-md-min) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  }

  @media (min-width: $screen-lg-min) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
  }

  grid-gap: 15px;
  justify-items: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.3em;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    list-style: none;

    .timer {
      font-size: 1.3em;
    }

    .bar {
      margin-top: 10px;
      width: 100%;
      background: $secondary-light;
      .bar-fill {
        background: $secondary;
        height: 3px;
        width: 0%;
        transition: width 2s linear;
      }
      border-radius: 2px;
    }

    .blocks {
      margin-top: 10px;
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 4px;
      .block {
        background: $secondary;
        transition: background-color 1s linear;
        width: 100%;
        height: 30px;
      }
    }

    button#remove-deadline {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      outline: none;
      border: none;
      box-shadow: none;
      opacity: 0;
      padding: 0;
      margin: 12px;
      transition: opacity ease-in-out 0.5s;
      color: #434343;
    }

    &:hover {
      button#remove-deadline {
        opacity: 1;
        transition: opacity ease-in-out 0.5s;
      }
    }

    .end_date {
      margin: 4px;
      color: #999;
      font-size: 0.8rem;
    }
  }
}

#show-newdeadline {
  position: absolute;
  display: block;
  right: 16px;
  bottom: -72px;
}

#new-deadline {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;

  &.show {
    display: flex;
  }

  .card {
    max-width: 400px;
    transition: transform 0.5s ease-in-out;

    &.hide {
      transform: scale(0.01);
      transition: transform 0.1s ease-in-out;
    }
  }

  .date-suggestions {
    text-align: center;
    padding: 4px 0;
    .date-suggestion {
      font-size: 0.8em;
      display: inline-block;
      padding: 6px 12px;
      margin: 3px;
      background: #ddd;
      border-radius: 80px;
      cursor: pointer;
    }
  }

  #new-deadline-slider {
    width: 300%;
    left: 0%;
    position: relative;

    .slide {
      padding: 0 20px;
    }
  }

  #deadline-task {
    font-size: 1.2em;
    display: block;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 8px;
  }

  #deadline-date-display, #deadline-speech {
    display: block;
    padding: 4px;
    width: 100%;
    text-align: center;
  }

  #deadline-speech {
    font-size: 1.3em;
    margin-bottom: 8px;
  }

  #add-deadline {
    display: block;
    margin: 8px auto;
  }
}
